@import "../../global/style/variables.scss";

.htl-intro-headline {
	padding: 20px 0;

	&__headline {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 5rem;
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}
