<!-- wp:template-part {"slug":"header","theme":"hotel-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:hotel-theme/intro-banner {"text":"Welcome to our hotel"} -->
    <div class="wp-block-hotel-theme-intro-banner intro-banner"><h1 class="intro-banner__headline">Welcome to our hotel</h1></div>
    <!-- /wp:hotel-theme/intro-banner -->
    
    <!-- wp:hotel-theme/hotel-list /--></main>
    <!-- /wp:group -->