@import "../../global/style/variables.scss";
@import "../../../node_modules/swiper/swiper-bundle.min";

.swiper {
	width: 100%;
	aspect-ratio: 1.77;

	.swiper-button-prev,
	.swiper-button-next {
		color: white;
	}

	.swiper-pagination-bullet {
		background-color: $color-text;
		opacity: 1;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: white;
	}
}
